/* Santa Catarina is loaded via <head> in layout for better reliability on prod */

@font-face {
  font-family: "Rothek";
  src: url("/fonts/rothek-extralight-webfont.woff2") format("woff2"),
    url("/fonts/rothek-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-santa-catarina: "Santa Catarina", serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-rothek: "Rothek", sans-serif;
  --color-primary: #bc0930;
  --background-color: #fffcf2;
}

html,
body {
  background-color: var(--background-color);
  font-family: var(--font-rothek), system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: var(--font-santa-catarina);
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 200;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-primary);
}

a {
  font-family: var(--font-rothek);
  font-weight: 500;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

/* Utility font classes used on <body> in layout */
.font-rothek {
  font-family: var(--font-rothek) !important;
}

.font-santa-katarina {
  font-family: var(--font-santa-catarina) !important;
}
